@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto&display=swap');

html,body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: gainsboro;
    margin:0;
}

#wrapper{
    position: relative;
    display: grid;
    margin:0;
    grid-template-rows: 40% 60%;
    min-height: 100vh;
    min-width: 100vw;
    margin:auto;
}
#menu{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    top:15px;
    right: 40px;
}
#menu p{
    margin-left: 100px;
    color: #ebe1e1;
}
#logout{
    margin-left: 150px !important;
}

#menu p:hover{
    color: rgb(224, 188, 188);
    cursor: pointer;
}

#welcome{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
h1, h2{
    font-family: 'Lato';
}
h1{
    font-size: 50px;
    margin:0;
    margin-bottom:20px;
    color:aliceblue;
}
p{
    font-family: 'Roboto';
}
#welcome p{
    font-size: 16px;
    margin:0;
    color:aliceblue;
}
#locations{
    grid-row: 2;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 20px;
}
.location{
    width: 31vw;
    min-height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 20px;
    text-align: center;
    box-shadow:0px 12px 20px 6px #1f1d1d;
    border-radius:5px;
    text-shadow: 2px 2px 1px #111111;
}

.location h2{
    font-size: 36px;
}
.location p,h2{
    color:white;
}
.location p{
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    #locations{
        display: flex;
        margin-left:10px;
        margin-right: 10px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .location{
        width: 80vw;
        min-height: 50vw;
    }
  }